In [7]:
"""
Generate a JSON table with ChatGPT and load it into a pandas DataFrame
(openai-python ≥ 1.0 syntax)
"""
from openai import OpenAI
import pandas as pd
import json, os
from io import StringIO      # only needed for the CSV option below

client = OpenAI()            # uses OPENAI_API_KEY from your environment

# ----- ask ChatGPT for data ---------------------------------------------
prompt = (
    "Return a JSON object with a key 'countries' whose value is a list of "
    "exactly five objects. Each object must have the keys "
    "'country', 'capital', and 'population'. Output ONLY valid JSON."
)

response = client.chat.completions.create(
    model="gpt-4o-mini",             # any chat-capable model works
    messages=[{"role": "user", "content": prompt}],
    temperature=0,
    response_format={"type": "json_object"}  # makes the model emit strict JSON
)

# ----- turn the JSON into a DataFrame ------------------------------------
data = json.loads(response.choices[0].message.content)
df   = pd.DataFrame(data["countries"])      # unpack the list under 'countries'

print(df)

# ---- OPTIONAL: if you ever ask for raw CSV instead ----------------------
# csv_text = response.choices[0].message.content.lstrip("`csv").strip("`")
# df = pd.read_csv(StringIO(csv_text))

     country   capital  population
0     Canada    Ottawa    38005238
1      Japan     Tokyo   126476461
2     Brazil  Brasília   213993437
3    Germany    Berlin    83783942
4  Australia  Canberra    25687041

In [8]:
df

     country   capital  population
0     Canada    Ottawa    38005238
1      Japan     Tokyo   126476461
2     Brazil  Brasília   213993437
3    Germany    Berlin    83783942
4  Australia  Canberra    25687041